VITE_EMAILJS_SERVICE_ID=email_js_service_id
VITE_EMAILJS_TEMPLATE_ID=email_js_template_id
VITE_EMAILJS_PUBLIC_KEY=email_js_public_key

VITE_FACEBOOK_URL=facebook_link
VITE_INSTAGRAM_URL=instagram_link

VITE_GOOGLE_MAPS_API_KEY=google_maps_api_key
VITE_GOOGLE_MAP_ID=google_map_id

VITE_FEATURABLE_ID=featurable_id

VITE_PHONE_NUM=8165606895